.table thead {
  background: #ece6e6;
}

.SentForm {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
    .form-group {
        display: flex;
        align-items: baseline;
        label {
            width: 150px;
        }
    }
}